[submodule "teoria_de_algoritmos"]
	path = teoria_de_algoritmos
	url = https://github.com/claudekoo/teoria_de_algoritmos

[submodule "sistemas_operativos"]
	path = sistemas_operativos
	url = https://github.com/claudekoo/sistemas_operativos